:root {

    /* Colors */
    --white: #E8E8E8;
    --black: #0A0A0A;
    --gray: #8f8f8f;
    --primary: #73766C;
    
    /* Fonts */
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Anton", sans-serif;
    --font-terciary: "Inter", sans-serif;
    --font-serif: "Rufina", serif;
    --font-graphity: "Sedgwick Ave Display", cursive;

    /* Others */
    --nav-btn-absolute-spacing: 5vw;
    --nav-btn-width: 50px;
    --nav-btn-active-inclitation: 40deg;
    --nav-decorative-circle-width: 20vw;
    --nav-container-width: 30vw;
    --nav-links-font-size: 75px;
    --nav-left-space: 50px;

    --header-title-font-size: 9vw;
    --header-circle-width: 90vh;
    --header-scroll-text-absolute-spacing: 2vw;

    --marquee-container-height: 90vh;
    --marquee-width: 130vw;
    --marque-absolute-left: -2vw;
    --marquee-inclination-degrees: 7deg;
    --marquee-font-size: 90px;

}

*{
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

::-webkit-scrollbar{
    display: none;
}

::selection{
    background-color: var(--primary);
}

body{
    background-color: var(--white);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.simple-line{
    height: 1px;
    border-bottom: 1px solid var(--black);
}

.scroll-block{
    overflow: hidden;
}


/*____________________   FIXED UI   ____________________ */

.isotype-container{
    position: fixed;
    top: var(--nav-btn-absolute-spacing);
    left: var(--nav-btn-absolute-spacing);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    z-index: 9996;
    user-select: none;
}

.isotype-container svg {
    width: 60px;
    fill: white;
}


.cursor-frame {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9998;
    mix-blend-mode: exclusion;

}

.cursor {
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: exclusion;
    transform: translate(-50%, -50%);
    transition: width 0.20s;
}

.cursor-hover .cursor{
    width: 50px;
}

.noise {
    position: fixed;
	top: 50%;
	left: 50%;
	width: 300vh;
	height: 300vh;
	opacity: .1;
    transform: translate(-50%, -50%);
    background: url(../media/noise.png);
	pointer-events: none;
    animation: noise 1.2s steps(3) infinite;
	z-index: 99999;
    filter: grayscale(1);
}


/*____________________   NAVIGATION   ____________________ */


.navigation-btn{
    position: fixed;
    top: var(--nav-btn-absolute-spacing);
    right: var(--nav-btn-absolute-spacing);
    width: var(--nav-btn-width);
    aspect-ratio: 1/1;
    z-index: 9998;
    mix-blend-mode: difference;
    transform: translate(50%, -50%);

}

.navigation-icon-line{
    position: absolute;
    width: var(--nav-btn-width);
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    transition: transform 0.5s;
    border-color: var(--white);
}

.navigation-icon-top{
    top: 40%;
}

.navigation-icon-bottom{
    top: 60%;
}

.navigation-container{
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background-color: var(--primary);
    z-index: 9997;
    transition: width 0.5s, opacity 0.4s;
    opacity: 0;
}

.navigation-outside{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vw;
    background-color: var(--black);
    z-index: 9996;
    transition: opacity 1s;
    pointer-events: none;
    opacity: 0;
}

.nav-decoration-circle{
    position: absolute;
    width: var(--nav-decorative-circle-width);
    aspect-ratio: 1/1.3;
    border-radius: 50%;
    pointer-events: none;
    transform-origin: center;
    opacity: 0;
    transition: opacity 0.2s;
}

.nav-circle-1 {
    top: 29vh;
    right: -16vw;
    transform: translate(-50%, -50%) rotate(-127deg) ;
    background-color: var(--primary);
    filter: brightness(0.6);
}

.nav-circle-2 {
    top: 6vh;
    right: -12vw;
    transform: translate(-50%, -50%) rotate(309deg);
    background-color: var(--primary);
    filter: brightness(1.5);

}

.navigation-links {
    position: absolute;
    top: 50%;
    left: var(--nav-left-space);
    width: var(--nav-container-width);
    transform: translateY(-50%);
}

.navigation-link {
    color: var(--white);
    font-size: var(--nav-links-font-size);
    font-family: var(--font-secondary);
    line-height: 1em;
    transition: 0.2s;
}

.navigation-link:hover {
    transform: translateX(20px);
}

.navigation-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: var(--nav-left-space);
    left: var(--nav-left-space);
    font-family: var(--font-terciary);
    color: var(--white);
}

.navigation-info-mail {
    font-size: 20px;
}

.navigation-social-links{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation-social-link {
    border-bottom: 1px solid var(--white);
}

.navigation-shown .navigation-icon-line{
    top: 50%;
}

.navigation-shown .navigation-icon-top {
    transform: translate(-50%, -50%) rotate(var(--nav-btn-active-inclitation));
}

.navigation-shown .navigation-icon-bottom {
    transform: translate(-50%, -50%) rotate(calc(-1 * var(--nav-btn-active-inclitation)));
}

.navigation-shown .navigation-outside{
    pointer-events: all;
    opacity: 0.4;
}

.navigation-shown .navigation-container {
    width: var(--nav-container-width);
    opacity: 1;
    transition: width 1s, opacity 0.5s;
}

.navigation-shown .nav-decoration-circle{
    opacity: 1;
    transition: opacity 0.8s 0.4s;
}

/*____________________   HEADER   ____________________ */

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.header-text-container{
    text-align: center;
    flex-direction: column;
    font-size: var(--header-title-font-size);
    width: 90vw;
    gap: 20px  
}

.header-text-container * {
    color: var(--white);
}

.header-blend-mode{
    mix-blend-mode: difference;
}

.header-title{
    font-family: var(--font-primary);
    font-size: 1em;
    font-weight: 600;
    line-height: 0.85em;
}

.header-photo{
    display: inline-block;
    vertical-align: top;
    width: 1em;
    aspect-ratio: 1/1;
    margin-right: 10px;
    border-radius: 50%;
    background: url(../media/photos/portrait.jpg);
    background-size: contain;
    filter: grayscale(1);
}

.header-subtitle{
    font-family: var(--font-terciary);
    font-size: 0.15em;
}

.graphity-text{
    font-family: var(--font-graphity);
    font-weight: 500;
}

.background-rectangle{
    width: 40px;
    height: 100vh;
    top: 50%;
    left: 50%;
    background-color: var(--black);
    transform: translate(-50%, -50%) rotate(30deg);
}

.background-circle-container{
    position: absolute;
    bottom: 5vh;
    left: 50%;
    height: 90vh;
    width: 90vh;
    transform: translateX(-50%);
}

.background-circle{
    object-fit: contain;
    aspect-ratio: 1/1;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(204,204,204,0) 6%, rgba(204,204,204,0.7) 100%);
}

.folio-text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: var(--font-terciary);
    font-weight: 800;
    font-size: 22px;
}

.scroll-text {
    position: absolute;
    bottom: var(--header-scroll-text-absolute-spacing);
    right: var(--header-scroll-text-absolute-spacing);
    transform: translate(-50%, -50%);
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 20px;
}


/*____________________   MARQUEE   ____________________ */

.aptitudes-container {
    position: relative;
    /* top: calc(100vh - var(--marquee-container-height)); */
    overflow: hidden;
    height: var(--marquee-container-height);
    z-index: -1;
}

.title-marquee, .aptitudes-marquee{
    position: absolute;
    top: 20vh;
    display: -webkit-box;
    width: var(--marquee-width);
    color: var(--white);
}

.title-marquee{
    transform: rotate(var(--marquee-inclination-degrees));
    top: 36vh;
    left: var(--marque-absolute-left);
    background-color: var(--black);
}

.aptitudes-marquee{
    transform: rotate(calc(-1 * var(--marquee-inclination-degrees)));
    left: var(--marque-absolute-left);
    background-color: var(--primary);
}

.title-marquee-items, .aptitudes-marquee-items{
    display: -webkit-box;

}

.title-marquee-item, .aptitudes-marquee-item{
    font-size: var(--marquee-font-size);
    font-family: var(--font-primary);
}

.title-marquee-item::after, .aptitudes-marquee-item::after{
    content: ' · ';
    white-space: break-spaces;
}


/*____________________   WHAT I DO   ____________________ */

.ido-frame, .works-frame{
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    width: 100vw;
    padding: 10vh 15vw;
    color: var(--white);
}

.section-title-frame{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}

.section-title-container{
    display: flex;
    gap: 20px;
}

.section-title{
    font-family: var(--font-secondary);
    font-size: 121px;
}

.section-title::after{
    content: ' /';
}

.section-projects-number{
    font-family: var(--font-terciary);
    color: var(--primary);
    font-size: 80px;

}

.section-subtitle-continer{
    display: flex;
    justify-content: end;
    gap: 30px;
    font-family: var(--font-terciary);
    font-size: 21px;
}

.section-subtitle-title{
    color: var(--primary);
    font-weight: 600;
}

.section-subtitle-content{
    width: 30vw;
    color: var(--gray);
}

.idos-container{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    gap: 50vh;
    height: 350vh;
}

.ido-container{
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid var(--gray);
    font-family: var(--font-terciary);
    background-color: var(--black);

    border-radius: 0;
}

.ido-title-container, .ido-content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10vw;
}

.ido-title-container {
    height: 110px;
}

.ido-title{
	font-size: 48px;
	font-weight: 600;
}

.ido-title-icon{
    fill: var(--primary);
    width: 35px;
}

.ido-content-description{
    width: 32%;
	font-size: 21px;
	color: var(--gray);
}

.ido-keywords-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ido-keyword{
	padding: 15px;
	font-size: 30px;
	font-weight: 600;
	width: 100%;
    color: var(--gray);
}

.ido-keyword:not(:last-child) {
    border-bottom: 1px solid var(--gray);
}

.ido-container:nth-of-type(1) {
    top: calc(50% - (110px * 3));
}
.ido-container:nth-of-type(2) {
    top: calc(50% - (110px * 2));
}
.ido-container:nth-of-type(3) {
    top: calc(50% - (110px * 1));
}
.ido-container:nth-of-type(4) {
    top: calc(50% + (110px * 0));
}



/*____________________   SELECTED WORKS   ____________________ */

.works-container{
    display: flex;
    flex-direction: column;
    gap: 300px;
}

.works-background-text-container{
    position: sticky;
    top: 0;
    height: 140vh;
}

.works-background-text{
    font-size: 30vw;
	font-family: var(--font-serif);
    color: #2c2c2c;
    user-select: none;
}



.work-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50vw;
    z-index: 1;
    font-family: var(--font-terciary);
}

.work-container:nth-child(odd){
    align-self: end;
}

.work-img-frame{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    height: 70vh;
    width: 50vw;
    overflow: hidden;
}

.work-img-container{
    border-radius: 10px;
    width: 90%;
    max-height: 90%;
    z-index: 2;
}

.work-bg-image-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.work-bg-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.7s ease-out;
}


.work-demostration-image{
    object-fit: contain;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 0px var(--primary);
}

.work-info-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.work-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.work-img-frame:hover .work-bg-image{
    width: 110%;
    height: 110%;
}

.work-title{
    font-family: var(--font-primary);
    font-size: 60px;
}

.work-tags-container{
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

.work-tag{
    font-family: var(--font-terciary);
    font-size: 17px;
    border-bottom: 1px solid var(--gray);
    padding: 5px;
}

.work-description{
    color: var(--gray);
    font-size: 18px;
    text-align: justify;
}


/*____________________   WHO I AM   ____________________ */

.who-i-am-frame{
    padding-top: 50vh;
    position: relative;
    top: 0;
    left: 0;
    height: 700vh;
    background-color: var(--black);
}

.who-i-am-sticky{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.who-i-am-overflow-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--white);

}

.who-i-am-container{
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 7.5vw;
    transform: translateY(-50%);
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
}

.who-i-am-content {
    opacity: 0;
    /* transform: scale(0.5); */
}

.who-i-am-background-text{
    position: absolute;
    font-size: 36vw;
	font-family: var(--font-serif);
    color: #d8d8d8;
    white-space: nowrap;
    padding: 50px;
    user-select: none;
    transform: translateY(-50%);
}

.who-i-am-photography-container{
    position: absolute;
    display: flex;
    gap: 25vw;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 50px 200px;
    width: auto;
}

.who-i-am-img{
    object-fit: contain;
    height: 100%;
    filter: grayscale(1);
}

.who-i-am-img-container{
    height: 46vh;
}

.who-i-am-img-container:nth-child(even){
    align-self: end;
}

/*____________________   GET IN TOUCH   ____________________ */

.get-in-touch-frame {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 25vh;    
}

.get-in-touch-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-in-touch-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 15vh;
}

.get-in-touch-suggestion{
    font-family: var(--font-terciary);
    font-weight: 600;
    font-size: 1.25vw;
    color: var(--black);
}

.get-in-touch-title{
    user-select: none;
    display: flex;
    align-items: baseline;
    font-size: 16vw;
    font-family: var(--font-primary);
    font-weight: 600;
    line-height: 0.85em;
    color: var(--black);
}

.get-in-touch-title-o {
    display: inline-block;
    vertical-align: baseline;
    aspect-ratio: 1/1;
    width: 0.85em;
    border-radius: 50%;
    background: var(--primary);
}

.get-in-touch-links-frame{
    display: flex;
    width: 86vw;
    margin-top: 10vh;
    gap: 3vw;
}

.get-in-touch-links-column{
    display: flex;
    flex-direction: column;
}

.get-in-touch-links-column:first-child{
    flex: 2;
}

.get-in-touch-links-column{
    flex: 1;
}

.get-in-touch-links-title{
    font-family: var(--font-secondary);
    padding-block: 10px;
    margin-block: 10px;
    color: var(--primary);
    font-size: 30px;
    border-bottom: 1px solid var(--primary);
}

.get-in-touch-links-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.get-in-touch-link{
    font-family: var(--font-terciary);
    color: var(--black);
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    white-space: nowrap;
    width: min-content;
}

.get-in-touch-link.cursor-hoverable:hover{
    transform: translateX(10px);
}

.get-in-touch-watermark{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 80px;
    font-family: var(--font-primary);
    font-weight: 900;
    line-height: 1em;
    color: var(--black);
    opacity: 0.2;
}



/*____________________   ANIMATIONS   ____________________ */


@keyframes noise {
    0% { transform: translate3d(1%, -1%, 0) translate(-50%, -50%)}
    10% { transform: translate3d(-5%, -2%, 0) translate(-50%, -50%)}
    20% { transform: translate3d(10%, 5%, 0) translate(-50%, -50%)}
    30% { transform: translate3d(5%, -11%, 0) translate(-50%, -50%)}
    40% { transform: translate3d(-12%, -5%, 0) translate(-50%, -50%)}
    50% { transform: translate3d(10%, 9%, 0) translate(-50%, -50%)}
    60% { transform: translate3d(15%, 0, 0) translate(-50%, -50%)}
    70% { transform: translate3d(-10%, 8%, 0) translate(-50%, -50%)}
    80% { transform: translate3d(10%, 2%, 0) translate(-50%, -50%)}
    90% { transform: translate3d(1%, 5%, 0) translate(-50%, -50%)}
    100% { transform: translate3d(0, 8%, 0) translate(-50%, -50%)}
}